<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
</head>
<body>
	<header>
		<nav class="nav nav-pills nav-fill">
			<a class="nav-item nav-link active" href="#">Accueil</a>
			<a class="nav-item nav-link" href="#">Link</a>
			<a class="nav-item nav-link disabled" href="#">Autre</a>
		</nav>
		
	</header>
	
	<div class="jumbotron">
		<p>Bonjour :)</p>
	</div>

</body>
</html>